@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html {
  min-width: 100%;
  height: 100%;

}

.showNone{
  display: none !important;
}

#opaco {
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 100%;
  min-height: 50%;
  position: absolute;
  z-index: -1;
  font-family: checfont1;
}

body {
  display: flex;
  background-color: #269226;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
}

.row{
  align-self: center;
  align-items: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
}

.opciones{
  width: 100% !important;
}


#welcome1 {
  display: flex;
  margin-top: 3em;
  min-width: 30%;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.45);
  border-radius: 5px;
  min-height: 50%;
  background-color: white;
  padding: 25px 10px 35px 10px;
}

.welcome {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 1%;
  align-self: center;
  background-color: white;
  color: green;
  font-weight: 700;
  border-width: 2px;
}

#nav_banco, #logout {
  display: flex;
  justify-content: center;
  padding: 0%;
}

h3 {
  font-family: "Cabin", sans-serif;
  color: rgb(139, 141, 142);
  font-size: xx-large;
  align-self: center;
  margin-bottom: 2em;
}

.homeCard {
	height: 90%;
	padding: 0px 0px 15px 0px;
}

.homeCard > div {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(166, 168, 161, 0.7);
	border-radius: 10px;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	width: 100%;
}

.modEvaluacion{
  width: 39%;
  height: 85%;
  -webkit-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.45);
  padding: 10px;
  background-color: #fff;
}

.card {
	width: 93%;
	border-radius: 10px;
}

.card-header {
	font-size: 1.5em;
	color: green;
	font-weight: 600;
}

.fa-arrow-circle-right {
	color: white;
	font-size: 2em;
	transition: 0.3s;
  margin-left: 5px;
  cursor: pointer;
}

.fa-arrow-circle-right:hover {
  font-size: 2.5em;
  margin-left: 1em;
}

@media only screen and (max-width: 600px) {
  .welcome {
    width: 80%;
  }

  #welcome2,
  #welcome1 {
    min-width: 80%;
    min-height: 70%;
  }

  #welcome1 h3 {
    font-size: 1.75rem;
  }

  #welcome_img {
    width: 70%;
  }
}
