@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: checfont1;
}

/* LOGIN */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.card-signin {
  width: 100%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
  margin: 0px;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  background-color: #56ab2f;
  color: #fff;
  transition: all 0.2s;
}

#colInicarSesion {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px 80px 0px 80px;
  background: #269226;
  align-items: center;
}

.card-body img {
  width: 15em;
}

.imgSesion > .row {
  justify-content: center;
  padding: 0px 36px 0px 36px;
  height: 100%;
}

.imgSesion {
  height: 19%;
}

.imgSesion > .row > img {
  max-width: 100%;
  max-height: 60%;
}

#imgBienvenida > img {
  max-width: 100%;
}

.form-signin .btn:hover {
  background-color: #218838;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group > .form-control {
  height: calc(2.25rem + 7px);
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: -22px;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

#imgBienvenida > img {
  max-width: 100%;
  max-height: 100%;
}

#imgBienvenida {
  height: 100%;
  padding: 40px 35px 0px 35px;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/*  */

#createInter,
#createEjec {
  height: 68%;
  justify-content: space-evenly !important;
}

.main {
  height: 100%;
}

.showNone {
  display: none !important;
}

.form-group {
  margin-bottom: 0%;
}

#rowContacto,
#rowIcon {
  justify-content: center;
}

#rowIcon {
  padding: 10px 0px;
  font-size: 150px;
}

#rowIcon {
  width: 100%;
  align-self: center;
  border-radius: 3px 3px 0px 0px;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
}

#iconRegistrarContacto,
#iconRegistrarEntidad {
  margin-right: 10px;
}

#colRegistrarEntidad {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#btnRegistrarContacto,
#btnRegistrarEntidad {
  background-color: #28a745;
  border-color: #28a745;
}

a {
  cursor: pointer;
}

.card-header {
  font-size: 1.5em;
  color: green;
  font-weight: 600;
}

#btnRegistrarContacto:hover,
#btnRegistrarEntidad:hover {
  background-color: #218838;
}

#formCrearContacto,
#formRegistrarEntidad {
  padding: 0% 15%;
  margin-bottom: 30px;
}

#rowBtnContacto {
  flex-wrap: nowrap;
  margin-top: 30px;
}

#formTAdmin .row {
  padding: 0px 50px 0px 50px;
}

#formTAdmin .gj-datepicker {
  width: 100% !important;
}

#rowBtnTAdmin {
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 30px 0px 30px 0px !important;
  margin: 0px;
}

.imgProfile {
  border-radius: 50%;
  background-color: #777;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  align-self: center;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.profileDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  background-color: white;
  position: absolute;
  top: 55px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(197, 197, 197, 0.8);
  opacity: 0;
  transition: 0.5s;
}

.toggle-off.btn {
  padding-left: 13px;
  color: black;
  background-color: rgba(166, 168, 161, 0.7);
  transition: 0.3s;
}

.toggle-off.btn:hover {
  background-color: #777;
}

.toggle-on.btn {
  padding-left: 13px;
  color: black;
  background-color: #2cd114;
  border-color: transparent;
}

.indicadoresCalendar {
  height: 30px;
  width: auto;
  margin: 10px;
  border-radius: 25px;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.profileDropdown > h6 {
  width: 100%;
  background-color: rgb(4, 158, 0);
  border-radius: 5px 5px 0px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.card-body a.btn {
  color: black !important;
  border: solid green 2px;
  transition: 0.3s;
}

#modalEventsCalendar > .modal-dialog {
  width: 50%;
  max-width: 100%;
}

#modalEventDescription {
  font-size: 18px;
}

.checkbox-card {
  padding: 5px;
  background-color: #b3b3b3;
  border-radius: 4px;
  margin: 10px;
}

.checkbox-card .custom-control-label::before{
  top: 0%;
  height: 100%;
  width: 1.5rem;
}

.checkbox-card ul{
  margin: 0;
}

.checkbox-card .custom-checkbox{
  width: 100%;
}

.checkbox-card label {
  width: 100%;
  color: #000 !important;
  cursor: pointer;
  margin: 0%;
  padding: 0px 5px 0px 0px;
}

.custom-control-label::before{
  background-color: white;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #269226;
}

.card-body a.btn:hover {
  color: #fff !important;
  background-color: green;
  border: solid white 2px;
}

#ejecutado {
  background-color: #269226;
}

#planeado {
  background-color: red;
}

#enejecucion {
  background-color: #eebc00;
}

#noejecutado {
  background-color: #a2a1a0;
}

#tadmin {
  background-color: blue;
}

.toogle-on.btn:hover {
  background-color: #218838 !important;
}

#modoSeguimiento {
  max-width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 5px 0px 5px;
}

#modoSeguimiento > label {
  margin-top: 0px;
}

.activeProfile {
  opacity: 1;
  z-index: 5;
}

.profileDropdown a {
  font-family: checfont1 !important;
  transition: 0.3s;
  border-radius: 5px;
}

.profileDropdown a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.profileDropdown i {
  font-size: 1em !important;
  color: #218838 !important;
}

#logOut > a:hover {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.imgProfile > img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}

.direccionCharacters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataTables_scrollBody {
  z-index: 0;
}

.colBtnContacto,
.colBtnDetalle {
  display: flex;
  justify-content: center;
}

#cerrarDetalleModal {
  margin-top: 30px;
}

#intervencion,
#planeacion,
#ejecucion {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(166, 168, 161, 0.3);
  border: solid 3px green;
  padding: 85px 150px 50px 150px;
}

#tableContactosEjec {
  width: 120%;
}

#planeacion,
#ejecucion,
#intervencion {
  padding: 65px 50px 8px 50px;
}

#img-intervencion {
  width: 86%;
}

.input-group-text {
  width: 215px !important;
  justify-content: center !important;
}

.header > h1 {
  padding: 8px 0px 0px 0px;
}

#createInter,
#createEjec {
  padding-top: 30px;
  margin-bottom: 20px;
}

#footer {
  background-color: rgb(156, 193, 43);
  margin-top: 30px;
  width: 100%;
  height: 115px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 1.7em;
  position: fixed;
  bottom: 0;
}

#tipoGestion,
#ruralOurbano,
#solicitudEducativa {
  padding: 10px 0px 15px 0px;
  justify-content: space-evenly;
  align-items: center;
}

#intForm {
  display: flex;
  flex-direction: column;
}

#observaciones {
  width: 100%;
}

h1 {
  font-family: checfont1 !important;
  align-self: center;
}

form * {
  font-family: checfont1;
}

label {
  margin-top: 20px;
  color: green;
}

button.btn.btn-outline-secondary.border-left-0 {
  background-color: #2cd114;
  color: #fff;
}

button.btn.btn-outline-secondary.border-left-0:hover {
  background-color: #a8e063;
  color: #000;
}

.obligatorio {
  color: red !important;
  margin: 0px;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #504e4e;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2cd114;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

#createInter,
#createEjec {
  padding: 30px 10px 0px 10px;
  height: auto;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

.formRows {
  margin-bottom: 20px;
}

#form-card {
  padding: 0px 40px;
}

.header {
  width: 50%;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
  height: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: -30px;
  left: 5em;
  position: relative;
  z-index: 2;
  border-color: transparent;
  border-radius: 10px;
  text-align: center;
}

.imgNav {
  width: 2em;
  margin-right: 10px;
}

#btnVerDetalle {
  display: none;
}

#logoUM {
  width: 3em;
}

nav {
  background-color: #9cc12b !important;
  -webkit-background-color: #9cc12b !important;
}

#tableContactos {
  width: 100% !important;
}

.invalid {
  background-color: #ffa6a6 !important;
}

.tab .alert {
  width: 100%;
  text-align: center;
}

.title {
  color: rgb(133, 40, 40);
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr.hrForm {
  margin: 0px !important;
  width: 100% !important;
}

#detalleCardContentGI > .row,
#detalleCardContentGF > .row {
  padding: 0px 30px;
}

#headerDetalleModal,
#headerModalTAdmin {
  width: 100%;
  background-color: green;
  border-radius: 3px 3px 0px 0px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#options {
  padding: 0px 0px 50px 35px;
}

#headerModalTAdmin {
  flex-direction: column;
  background: linear-gradient(89deg, #269226, #56ab2f, #a8e063);
  height: auto;
  padding: 20px 0px 10px 20px;
}

#headerModalTAdmin > i {
  font-size: 4em;
  color: white;
  margin-bottom: 10px;
}

.detalleModal {
  padding: 30px 50px 8px 50px !important;
}

#resultadoEjecucion {
  text-align: center;
}

#divNoEjecucionDad {
  width: 90%;
  background-color: rgba(74, 198, 36, 0.4);
  height: 40px;
  border-radius: 3px;
  text-align: center;
  transition: 0.3s;
}

#divNoEjecucionDad > div > label {
  color: black;
  margin-top: 10px;
}

.custom-file-label {
  margin: 0% !important;
}

.danger {
  background-color: rgba(255, 54, 54, 0.5) !important;
}

.modal-header {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

#rowNovedad {
  justify-content: center;
}

#colCaractPoblacion {
  border-left: solid 1px rgba(0, 0, 0, 0.2);
}

input#lugarEncuentro,
#direccionFirst,
#direccionSecond,
#direccionThird,
#nombreEntidad {
  text-transform: uppercase;
}

#headerDetalle {
  position: absolute;
  top: -30px;
  width: 50%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 8px 0px 0px 0px;
  align-self: center;
}

.nav-tabs {
  margin: 10px 0px 10px 0px;
}

#myTabContent {
  height: 92%;
}

#profile {
  height: 100%;
}

#rowTableContactos {
  overflow-x: auto;
}

hr {
  margin: 0px 0px 10px 0px;
}

.detalleEjec,
.trabajoAdmin {
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  border: 0 !important;
}

#map {
  height: 100%;
  border: solid 2px green;
  border-radius: 10px;
}

#modalLoader {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 573px;
  position: absolute;
  border-radius: 3px;
}

#colDetalle {
  margin-top: 25px;
  padding-right: 60px;
}

/* Universal homeNAV */

#navGE {
  background-color: #9cc12b;
  justify-content: space-between !important;
  align-items: center;
}

#navGE .nav-item {
  display: flex;
}

.nav-item .fas {
  font-size: 2em;
  color: white;
  transition: 0.2s;
}

.nav-item .fas:hover {
  color: grey;
}

.navImg {
  padding: 10px;
  height: 60px;
  width: 60px;
}
/*  */

#calendar {
  width: 100%;
}

.tui-full-calendar-layout {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

main {
  height: 100%;
}

.content {
  height: 93.8%;
}

#leftPortion {
  max-height: 100%;
  padding-left: 28px;
  overflow-y: auto;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  padding-right: 20px;
  background-color: darkgreen;
  padding-top: 10px;
  overflow-x: hidden;
  transition: 0.5s;
}

#homeBreadCrumbs {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  position: fixed;
  width: 30%;
  margin: 0px;
  z-index: 10;
}

#homeBreadCrumbs nav,
#homeBreadCrumbs ol {
  border-radius: 10px;
  width: 100%;
}

.content > .row,
.contentLogIn > .row {
  height: 100%;
  width: 100%;
  margin: 0%;
}

#calendarSelect {
  width: auto;
}

.contentLogIn > .row {
  padding: 0% !important;
}

.card-body .fas {
  font-size: 1em;
  margin: 0px 0px 0px 5px;
}

#rightPortion {
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  max-height: 100%;
  transition: 0.5s;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.fc-toolbar button {
  background-color: #269226 !important;
  border: transparent;
}

.fc-toolbar button:hover {
  background-color: #218838 !important;
}

.btn:focus {
  box-shadow: 0 0 0 0 transparent !important;
}

.homeCard {
  height: 90%;
  padding: 0px 0px 15px 0px;
  margin-top: 73px;
}

.municipios a {
  color: #fff !important;
}

#leftPortion .card {
  width: 93%;
  border-radius: 10px;
}

.homeCard > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(166, 168, 161, 0.7);
  border-radius: 10px;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  width: 100%;
}

.nav-item > h3 {
  margin: 0;
}

.crear {
  margin: 0px 5px 0px 0px !important;
}

#leftPortion div .arrow {
  color: white;
  font-size: 2em;
  transition: 0.3s;
  margin-left: 5px;
}

.fa-arrow-circle-left {
  margin-left: 0px;
  margin-right: 5px;
}

#leftPortion div .fa-arrow-circle-right:hover {
  font-size: 2.5em;
  margin-left: 1em;
}

#formCrearContacto input {
  text-transform: uppercase;
}

#formCrearContacto #correoContacto {
  text-transform: lowercase;
}

.input-group-append button{
  border-color: transparent;
}

.returnBtn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: 10px;
  transition: 0.5s;
  background-color: #28a745;
  cursor: pointer;
}

.returnBtn:hover {
  background-color: #218838;
}

/* PULSE LOADER ANIMATION */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 45;
  height: 100%;
  position: absolute;
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #9cc12b;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

.pulse > img {
  width: 65%;
  height: 65%;
}

#loaderCalendar > .pulse {
  animation: animate2 1s linear infinite;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 254, 0.3);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 255, 254, 0);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 255, 254, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 254, 0);
  }
}

@keyframes animate2 {
  0% {
    box-shadow: 0 0 0 0 rgba(10, 124, 7, 0.3);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(10, 124, 7, 0);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(10, 124, 7, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(10, 124, 7, 0);
  }
}

@media screen and (min-width: 770px) and (max-width: 992px) {
  #intervencion {
    margin-bottom: 13px;
    padding: 55px 20px 10px 20px;
  }

  .detalleModal {
    padding: 30px 30px 8px 30px !important;
  }

  .header {
    width: 71%;
    text-align: center;
    margin-bottom: -42px;
    padding: 6px;
  }

  #colDetalle {
    display: none;
  }

  #btnVerDetalle {
    display: block !important;
  }

  #intervencion,
  #planeacion,
  #ejecucion {
    margin-bottom: 13px;
  }

  #coordinadoraInt {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: -3;
    opacity: 0.2;
  }

  #colCreateInter,
  #colCreateEjec {
    height: 100%;
  }

  #intervencion,
  #planeacion,
  #ejecucion {
    background-color: rgba(166, 168, 161, 0.5);
    height: auto;
  }

  #coordinadoraInt > img {
    width: 90%;
  }

  #createInter,
  #createEjec {
    padding: 30px 10px 0px 10px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1171px) {
  #intervencion,
  #planeacion,
  #ejecucion {
    margin-bottom: 20px;
    padding: 70px 40px 15px 40px !important;
  }

  .header {
    text-align: center;
    margin-bottom: -42px;
    padding: 6px;
  }

  #btnVerDetalle {
    display: block !important;
  }

  #colDetalle {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #comunaObarrio {
    padding: 5px 0px 0px 0px;
  }

  #btnRegistrarEntidad {
    margin-top: 15px;
  }

  .detalleModal {
    padding: 30px 30px 8px 30px !important;
  }

  #createInter,
  #createEjec {
    height: 88%;
  }

  #colDetalle {
    display: none;
  }

  #form-card {
    height: 100%;
  }

  #btnVerDetalle {
    display: block !important;
  }

  #coordinadoraInt {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: -3;
    opacity: 0.2;
  }

  #coordinadoraInt > img {
    width: 90%;
  }

  .input-group-text {
    font-size: 14px;
  }

  #intervencion,
  #planeacion,
  #ejecucion {
    margin-bottom: 13px;
    background-color: rgba(166, 168, 161, 0.5);
    height: auto;
    padding: 50px 10px 0px 10px;
  }

  #createInter,
  #createEjec {
    margin-bottom: 0%;
  }

  h1 {
    font-size: 1.5em;
  }

  #form-card {
    padding: 0px 10px 0px 10px;
  }

  .direccion1 {
    width: 31%;
  }

  .header {
    width: 95%;
    height: auto;
    margin-bottom: -19px;
    left: 5px;
    position: relative;
    padding: 6px;
    z-index: 2;
  }

  nav {
    justify-content: center !important;
  }
}

@media screen and (min-width: 1172px) {
  .gj-datepicker {
    width: 85% !important;
  }

  #colDatepicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

@media screen and (min-width: 360px) and (max-width: 991px) {
  #craOcll {
    margin-bottom: 10px;
  }

  .direccion1 {
    width: 31% !important;
  }

  hr {
    margin: 15px 0px 0px 0px;
  }

  #btnRegistrarEntidad {
    margin-top: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #craOcll {
    margin-bottom: 10px;
  }

  .direccion1 {
    width: 100%;
  }

  #btnRegistrarEntidad {
    margin-top: 15px;
  }

  .direccionCharacters {
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .direccion1 {
    width: 31% !important;
  }
}
